:root {

    --header-height : 15vh;
    --header-img-height : 100%;
    --carousel-height: 55vh;
    --actualites-height: 30vh;
    --actualites-item-height: 24vh;
    --menu-height: calc(100vh - (var(--header-height) + var(--footer-height)));
    --footer-height: 10vh;

    /*  css for ipad    */
    --header-height-medium: 20vh;
    --footer-height-medium: 10vh;
    --actualites-height-medium: calc(100vh - calc(var(--header-height-medium) + var(--footer-height-medium)));
    --hamburger-height-width: 8vh;
    --hamburger-line-height: 5px;

    --hamburger-menu-position-top: var(--header-height-medium);
    --hamburger-menu-height: 40vh;

    --h2-font-size-medium: 1.4em;
    --p-font-size-medium: 0.9em;
    --hamburger-menu-font-size: 1.2em;


    
    --noir-site: rgba(21,21,21,1.0);
    --noir-site-transparent: rgba(21,21,21, 0.9);
    --body-color: rgb(222, 222,222);
    --marron-site: rgb(144, 110, 75);
    --blanc-casse: antiquewhite;

    --menu-font-size: 1.5em;





}

@font-face {
    font-family: 'ClementePDai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('ClementePDai Regular'), url('/contents/fonts/clementepdaa/ClementePDai-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ClementePDac ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('ClementePDac ExtraLight'), url('/contents/fonts/clementepdaa/ClementePDac-ExtraLight.woff') format('woff');
    }




/*  ******************************************  Grands écrans   *********************************   */
@media all and (min-width: 1500px){

    body {
        background-color: var(--noir-site);
        color: var(--body-color);
        font-family: 'ClementePDac ExtraLight';
    }

    #hamburger {
        display: none;
    }

    #hamburger_menu {
        display: none;
    }

    /*  -------HEADER---------   */
    header {
        position: fixed;
        z-index: 1000;
        top: 0;
        background-color: var(--noir-site);
        height: var(--header-height);
        width: 100%;
        display: grid;
        grid-template-columns: 10% 90%;
        align-content: center;
        align-items: center;
        justify-items: center;
    }

    header img {
        height: var(--header-img-height);
    }


    /*  -------CAROUSEL-------- */
    #carousel_photo {
        height: var(--carousel-height);
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: var(--header-height);
    }

    #carousel {
        height: 100%;
    }

    #carousel .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
        width: 100%
    }

    .carousel-item img {
        width: 100%;
        object-fit: cover;
    }

    /*  -------ACTUALITES----   */
    #actualites {
        width: 100%;
        display: grid;
        justify-content: space-around;
        align-content: center;
        grid-template-columns: 30% 30% 30%;
        height: var(--actualites-height);
        /* background-color: darkkhaki; */
    }

    .actualites_item {
        position: relative;
        align-self: stretch;
        height: var(--actualites-item-height);
        margin-top: 3vh;
        text-align: justify;
        cursor: pointer;
        border-radius: 15px;
        transform-style: preserve-3d;
    }


    .front, .back {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        backface-visibility: hidden;
        background-color: rgb(138, 76, 15);
        transition: transform 0.4s ease-in-out, background-color 1s ease-in-out;
        transform-style: preserve-3d;
    }

    .front {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        align-content: center;
        justify-items: center;
        grid-template-rows: 40% 20%;
        row-gap: 10%;
        transform: perspective(600px) rotateX(0deg);
    }

    .front h2 {
        transform: perspective(500px) translateZ(50px);
    }


    .back {
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        transform: perspective(600px) rotateX(180deg);
    }

    .actualites_item.active .front {
        transform: perspective(600px) rotateX(-180deg);
    }

    .actualites_item.active .back {
        transform: perspective(600px) rotateX(0deg);
    }

    /*  -------MENU----------   */
    #menu {
        height: var(--menu-height);
        /* background-color: aquamarine; */
    }

    #menu ul {
        height: 100%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-gap: 2vh 2vh;
        grid-template-columns: 40% 40%;
        grid-template-rows: 40% 40%;
        /* background-color: lightpink; */
    }

    .menu_item {
        /* background-color: bisque; */
        list-style-type: none;
        opacity: 0.3;
        transition: opacity 0.2s ease-in-out;
    }

    .menu_item:hover {
        opacity: 1;
    }

    .menu_item a {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 100%;
        text-align: center;
        text-decoration: none;
        color: var(--body-color);
    }

    .menu_item a img {
        height: 100%;
        justify-self: center;
    }

    .menu_item a span {
        line-height: 100%;
        font-size: 6em; 
    }

    .menu_item a p {
        margin: 0;
        align-self: center;
        font-size: var(--menu-font-size);
    }

    /*  -------FOOTER--------   */
    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        height: var(--footer-height);
        background-color: black;
        color: aliceblue;
    }

}



/*  ******************************************  Ecrans Moyens   *********************************   */
@media all and (min-width: 920px) and (max-width: 1500px){

    body {
        background-color: var(--noir-site);
        color: var(--body-color);
        font-family: 'ClementePDac ExtraLight';
        box-sizing: border-box;
    }

    h2 {
        font-size: var(--h2-font-size-medium);
    }

    p {
        font-size: var(--p-font-size-medium);
    }

    #carousel_photo {
        display: none;
    }

    #menu {
        display: none;
    }
    /*  ------HEADER------  */
    header {
        position: relative;
        height: var(--header-height-medium);
        width: 100%;
    }

    header img, #hamburger {
        display: inline-block;
    }

    header img {
        position: relative;
        left: 5vh;
        height: var(--header-img-height);
    }
    #hamburger {
        position: absolute;
        bottom: 2vh;
        right: 8vh;
        height: var(--hamburger-height-width);
        width: var(--hamburger-height-width);
        display: grid;
        align-items: center;
    }

    #hamburger .line {
        position: relative;
        display: block;
        width: 100%;
        height: var(--hamburger-line-height);
        background-color: var(--body-color);
        border-radius: 2px;
    }

    #hamburger .line::before{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: var(--hamburger-line-height);
        background-color: var(--body-color);
        border-radius: 2px;
        transform: translateY(-2vh);
    }

    #hamburger .line::after{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--body-color);
        border-radius: 2px;
        transform: translateY(2vh);
    }

    #hamburger .line, #hamburger .line::before, #hamburger .line::after {
        transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
    }

    #hamburger.cross .line::before, #hamburger.cross .line::after {
        transform: translateY(0);
    }

    #hamburger.cross .line::before {
        transform: rotate(45deg);
    }

    #hamburger.cross .line::after {
        transform: rotate(-45deg);
    }

    #hamburger.cross .line {
        background-color: transparent;
    }

    /*  ------Menu Déployé------  */
    #hamburger_menu {
        position: absolute;
        overflow: hidden;
        top: var(--hamburger-menu-position-top);
        width: 100%;
        height: 0;
        z-index: 100;
        font-size: var(--hamburger-menu-font-size);
        color: var(--body-color);
        background-color: var(--noir-site-transparent);
        transition: height 250ms ease-in-out;
    }

    #hamburger_menu ul {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        align-content: space-evenly;
    }

    #hamburger_menu li {
        list-style-type: none;
        width: 30%;
        justify-self: center;
    }

    #hamburger_menu a {
        color: var(--body-color);
    }

    #hamburger_menu.deployed {
        height: var(--hamburger-menu-height);
    }

    /*  ------ACTUALITES------  */

    #actualites {
        display: grid;
        width: 100%;
        height: var(--actualites-height-medium);
        grid-template-columns: 25% 25% 25%;
        justify-content: space-evenly;
    }

    .actualites_item{
        height: 95%;
        width: 100%;
        align-self: center;
        color: var(--noir-site);
        text-align: justify;
        border-radius: 10px;
        transform-style: preserve-3d;
    }

    .front, .back {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 2vh;
        border-radius: 10px;
        background-color: var(--body-color);
        backface-visibility: hidden;
        transition: transform 0.4s ease-in-out;
    }

    .front {
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 10%;
        align-content: center;
        transform: perspective(600px) rotateY(0deg);
    }

    .back {
        transform: perspective(600px) rotateY(180deg);
    }

    .actualites_item.active .front {
        transform: perspective(600px) rotateY(-180deg);
    }

    .actualites_item.active .back {
        transform: perspective(600px) rotateY(0deg);
    }



    /*  ------FOOTER------*/
    footer {
        height: var(--footer-height-medium);
        width: 100%;
    }

}






/*  ******************************************  Petits écrans   *********************************   */
/* @media and (max-width: 919px){

} */